#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content:;
  width: 100%;
  min-height: 100vh;
}

.mainContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
  max-width: 1000px;
}

.leftSide {
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-direction: column;
}
