#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mainContainer {
  display: grid;
  grid-template-columns: 20% 80%;
}

.creditsComponent,
.buttonsComponent,
.optionsComponent {
  grid-column: 1;
}
.resultsTableComponent,
.graphComponent,
.diceComponent {
  grid-column: 2;
}
