.diceComponent {
}

.diceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
  gap: 5px;
  width: auto;
  overflow: auto;
  max-height: 500px;
  padding: 5px;

  .dice {
    text-align: center;
    aspect-ratio: 1;
    width: 25px;

    border: solid rgb(92, 92, 92);
    border-radius: 10px;
  }

  .dice1 {
    background-color: darkgreen;
  }
}
